<% if flash[:notice]%>
  <div class="alert alert-success" role="alert">
    <%= flash[:notice]%>
  </div>
<% end %>

<table class="table table-bordered table-hover">
  <thead>
    <tr class="text-center">
      <td>Nome</td>
      <td>Descrição</td>
      <td>Departamento</td>
      <td>Preço</td>
      <td>Quantidade</td>
      <td colspan="2">Ações</td>
    </tr>
  </thead>
  <tbody>
    <%= render @produtos %>
  </tbody>
</table>


    <h3 class="alert alert-info text-center text-uppercase">Produto com menor preço</h3>

<table class="table table-bordered table-hover">
  <thead>
    <tr class="text-center">
      <td>Nome</td>
      <td>Descrição</td>
      <td>Departamento</td>
      <td>Preço</td>
      <td>Quantidade</td>
      <td colspan="2">Ações</td>
    </tr>
  </thead>
  <tbody>
    <%= render @produto_com_desconto %>
  </tbody>
</table>
